a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

#app{
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  'header header header header'
  'mainContent mainContent mainContent notice'
  'mainContent mainContent mainContent hbNotice'
  'mainContent mainContent mainContent depNotice'
  'footer footer footer footer';
  background: #f1f1f1;
}

#Header{
  grid-area: header;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid gray;
}


#MainContent{
  grid-area: mainContent;
  margin-left: 15vw;
  padding: 6vh 1vw 1vh 1vw;
}

#Notice{
  grid-area: notice;
  margin-right: 15vw;
  padding: 6vh 1vw 1vh 1vw;
}

#HbNotice{
  grid-area: hbNotice;
  margin-right:15vw;
  padding: 1vh 1vw;
}

#DepNotice{
  grid-area: depNotice;
  margin-right: 15vw;
  padding: 1vh 1vw;
}

#Footer{
  grid-area: footer;
}


#Content{
  padding-top: 3vw;
}
