a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

#main {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'mainContent mainContent mainContent notice'
    'mainContent mainContent mainContent hbNotice'
    'mainContent mainContent mainContent depNotice';
  background: #f1f1f1;
}

#mainContent {
  grid-area: mainContent;
  margin-left: 15vw;
  padding: 1vh 1vw 1vh 1vw;
}

#notice {
  grid-area: notice;
  margin-right: 15vw;
  padding: 1vh 1vw 1vh 1vw;
}

#hbNotice {
  grid-area: hbNotice;
  margin-right: 15vw;
  padding: 1vh 1vw;
}

#depNotice {
  grid-area: depNotice;
  margin-right: 15vw;
  padding: 1vh 1vw;
}


/*모바일 버전*/
@media screen and (max-width: 1000px) {
  #main {
    font-size: 0.9rem;
    grid-gap: 1px;
    grid-template-areas:
      'mainContent',
      'notice',
      'hbNotice',
      'depNotice';
  }

  #mainContent {
    padding: 50px 2px 1vh 2px;
    margin: 2vw;
  }

  #notice {
    margin: 2vw;
    padding: 1vh 1vw 1vh 1vw;
  }

  #hbNotice {
    margin: 2vw;
  }

  #depNotice {
    margin: 2vw;
  }
}
