.SignInBox {
  border: 1px solid gray;
  border-radius: 5px;
  width: 35vw;
  margin: auto;
}

.SignInBox h1 {
  background-color: white;
}

#SignInId, #SignInPw{
  width: 99%;
  height: 40px;
}

#SignInBtn {
  width: 100%;
  height: 45px;
  border: none;
  background-color: #44dd66;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

#saveId{
}

​ .search {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.search a {
  font-size: 12px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 5px;
}

.SignUp a {
  font-size: 12px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 5px;
}
